@font-face {
  font-family: Yekan;
  src: url(../../fonts/yekan/IRANYekanWeb.eot);
  src: url(../../fonts/yekan/IRANYekanWeb.woff);
  src: url(../../fonts/yekan/IRANYekanWeb.woff2);
  src: url(../../fonts/yekan/IRANYekanWeb.ttf);
}
:root {
  --fontFamily: Yekan;
  --color-natural-2: #3f4064;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  font-family: var(--fontFamily), sans-serif;
}

.main {
  margin: 100px auto;
  width: 400px;
  height: 480px;
  border-radius: 11px;
  border: 1px solid #e0e0e2;
  padding: 30px;
}
.main .container {
  padding-top: 20px;
  .hello {
    margin-top: 15px;
  }
  .hello,
  .please {
    color: var(--color-natural-2);
    font-size: 12px;
    line-height: 25px;
  }
}
.main .container a .icon {
  display: flex;
  justify-content: center;
  img {
    margin: 1px auto;
    width: 100px;
  }
}

.main .container {
  line-height: 30px;
}
.main .container .intro {
  margin-top: 20px;
  font-size: 19px;
  font-weight: 700;
}
.main .container form {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  #email {
    margin-top: 10px;
    width: 330px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #19bfd3;
    caret-color: #19bfd3;
    padding: 0 20px;
  }
  #submit {
    margin-top: -20px;
    width: 330px;
    height: 45px;
    border-radius: 9px;
    background-color: #ef4056;
    color: white;
  }
  #email,
  #submit:focus {
    outline: none;
  }
}

.main .container .terms {
  font-size: 11px;
  color: #3f4064;
  margin-top: 20px;
  a {
    text-decoration: none;
    color: #0083b2;
  }
}
